.voting-panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 2rem;
    padding-bottom: 20px;
    background-color: #f8f9ff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 550px;
  }

  
  .voting-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
  }
  
  
  
  .idea-card {
    background: #ffffff;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .idea-card h3 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: #333;
  }

  
  
  .idea-description-v p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

  .idea-card:hover {
    
    box-shadow: 0 4px 8px rgba(89, 165, 247, 0.15);
  }
  
  .idea-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .idea-description {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 15px;
  }
  
  .vote-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background 0.3s ease;
  }
  
  .vote-button:hover {
    background-color: #0056b3;
  }

  .vote-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    
  }
  
  .vote-button {
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    color: white;
    width: 100%;
    border-radius: 5px;
  }
  
  .vote-button.upvote {
    background-color: #28a745; /* Green for upvote */
  }
  
  .vote-button.downvote {
    background-color: #dc3545; /* Red for downvote */
  }
  
  .vote-button:hover {
    opacity: 0.8;
  }
  
  